<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="0cc2e1a2-5d51-491c-9edc-b72eb39a5611" Publisher="CN=Spock" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Integrate</DisplayName>
    <PublisherDisplayName>Spock</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Integrate.App">
      <VisualElements DisplayName="Integrate" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Integrate" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="musicLibrary" />
    <Capability Name="videosLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>